{% extends 'base.html' %}
{% block breadcrumb %}
       <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
       <li class="breadcrumb-item active">Cadastro de usuário</li>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Por favor preencha todos os campos.</p>
    {% endif %}
<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}